<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
    <title>Ridray Axel Portfolio</title>
</head>

<body>
    <header>
        <div class="navbar">
            <ul>
                <li><a href="#developpeur"><img class="navIcon" src="../../assets/images/navLogos/pc.png" alt=""></a>
                </li>
                <li><a href="#cuisinier"><img class="navIcon" src="../../assets/images/navLogos/chef.png" alt=""></a>
                </li>
                <li><a href="#contact"><img class="navIcon" src="../../assets/images/navLogos/enveloppe.png"
                            alt="Contact"></a></li>
            </ul>
        </div>
    </header>
    <main>
        <section id="developpeur">
            <h1 class="sectionTitle devTitle">Développeur aujourd’hui .. </h1>
            <div class="Front panel"> frontEnd : html / css / js </div>
            <div class="Back panel">BackEnd : node.js / express / ruby</div>
            <div class="DB panel">DataBase : postgreSQL / mangoDB</div>
            <img class="developpeur-illu" src="../../assets/images/Development-pana.svg" alt="Developpeur illustration">
        </section>
        <section id="cuisinier">
            <h1 class="sectionTitle cookingTitle">..Cuisinier hier !</h1>
            <div class="cookingInfo">
                <img class="cooking-illu flexItem" src="../../assets/images/Chef-bro.svg" alt="Chef illustration">
                <article class="flexItem">
                    Avant de me lancer dans le développement, j'ai travaillé plusieurs années en restauration, un milieu
                    d'<strong>exigeance</strong> où la <strong>rigueur</strong> et le <strong>travail d'équipe</strong>
                    sont
                    essentiels. Cette
                    expérience m'a appris à gérer la
                    pression, à respecter des processus stricts et à collaborer efficacement avec une
                    équipe pour atteindre
                    un
                    objectif commun. Que ce soit en cuisine ou dans le code, chaque détail compte, et cette attention à
                    la
                    précision
                    me sert aujourd’hui dans mon approche du développement.
                </article>
            </div>
        </section>
        <section id="contact">
            <h1>PROVISOIRE use api for mailing</h1>
            <!---liens vers GitHub / linkedin / api--->
        </section>
    </main>
    <footer></footer>
</body>

</html>