#projects {
    width: 100%;
    height: 53rem;
    padding: 1rem;
    padding-top: 3rem;
    margin: 2rem;
    margin-left: 0;
}

#projects h1 {
    position: absolute;
    top: 98%;
    font-weight: lighter;
    font-size: 5rem;
    margin: 1rem;
    color: var(--text-color);
}

.gitHub {
    height: 20rem;
    width: 20rem;
    margin: 10em auto;
    margin-right: 50rem;
    text-align: center;
}