.toqueDeChef {
    position: absolute;
}

.toqueIcon {
    width: 3rem;
    padding: 1.1rem;
}

.sectionTitle {
    padding: 3px;
    text-align: justify;
    margin-top: 0;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

@media screen and (min-width: 1440px) {

    /* Styles pour ordinateurs grand écran*/
    .developpeurIllu {
        width: 100%;
        margin-top: 3%;
        height: 75vh;
    }

    .developpeur h1 {
        margin-right: 30rem;
        margin-top: 2rem;
    }

    .sectionTitle {
        font-size: 5em;
    }

    .toqueDeChef {
        top: 54%;
        left: 68%;
    }
}

/* Laptop / desktop (1024px – 1439px) */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .developpeurIllu {
        width: 100%;
        margin-top: 3%;
        height: 75vh;
    }

    .developpeur h1 {
        margin-right: 30rem;
        margin-top: 2rem;
        font-size: 1em;
    }

    .toqueDeChef {
        top: 56%;
        left: 55%;
    }

    .sectionTitle {
        font-size: 3em;
    }
}

/* Tablette paysage (900px – 1023px) */
@media screen and (min-width: 900px) and (max-width: 1023px) {
    .developpeurIllu {
        width: 100%;
        margin-top: 3%;
        height: 75vh;
    }

    .developpeur h1 {
        margin-right: 30rem;
        margin-top: 2rem;
        font-size: 1em;
    }

    .toqueDeChef {
        top: 56%;
        left: 55%;
    }

    .sectionTitle {
        font-size: 2em;
    }
}

/* Tablette portrait (768px – 899px) */
@media screen and (min-width: 768px) and (max-width: 899px) {
    .developpeurIllu {
        width: 100%;
        margin-top: 3%;
        height: 75vh;
    }

    .developpeur h1 {
        margin-right: 30rem;
        margin-top: 2rem;
        font-size: 1em;
    }

    .toqueDeChef {
        top: 56%;
        left: 55%;
    }

    .sectionTitle {
        font-size: 2em;
    }
}

/* Mobile standard (480px – 767px) */
@media screen and (min-width: 480px) and (max-width: 767px) {
    .developpeurIllu {
        width: 100%;
        margin-top: 3%;
        height: 75vh;
    }

    .developpeur h1 {
        margin-right: 30rem;
        margin-top: 2rem;
        font-size: 1em;
    }

    .toqueDeChef {
        top: 56%;
        left: 55%;
    }

    .sectionTitle {
        font-size: 2em;
    }
}

/* Mobile petit (≤ 479px) */
@media screen and (max-width: 479px) {
    .developpeurIllu {
        width: 100%;
        margin-top: 3%;
        height: 50%;
    }

    .toqueIcon {
        width: 1.5rem;
        padding: 1.1rem;
    }

    .toqueDeChef {
        top: 21%;
        left: 55%;
    }
}