.developpeurIllu {
    margin-top: 3%;
    height: 75vh;
}

.developpeur h1 {
    margin-right: 30rem;
    margin-top: 2rem;
}

.toqueDeChef {
    position: absolute;
    top: 56%;
    left: 66%;
}

.toqueIcon {
    width: 3rem;
    padding: 1.1rem;
}