/* ici import de tout le css */
@import url("cuisinier.css");
@import url("developpeur.css");
@import url("contact.css");
@import url("navigation.css");
@import url("stackTechnique.css");
@import url("projects.css");
@import url("404.css");

/* Variable */
:root {
    --background-color: #F4FBF7;
    --text-color: #1D3B31;
    --interactive-color: #C3E9D7;
    --hover-color: #8BCEB6;
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    background-color: var(--background-color);
    overflow-x: clip;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: var(--text-color);
}

body::-webkit-scrollbar {
    display: none;
}

header {
    height: 0px;
    position: sticky;
    top: 15rem;
    z-index: 1000;
}

footer {
    background-color: var(--hover-color);
    height: 7vh;
}