ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 2px;
    margin: 0;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--interactive-color);
    width: 3rem;
    height: 15rem;
    border-radius: 5px;
    position: sticky;
    top: 10rem;
    padding: 0.5rem;
    text-align: center;
    margin-left: 1rem;
}

.navIcon {
    width: 3rem;
    padding: 1.1rem;
}

.navIcon:hover {
    background: url("../images/navLogos/background.svg");
    z-index: -1;
}