/*Toujours*/
.projectItem {
    background-color: aqua;
}

#projects {
    padding: 1rem;
    padding-top: 3rem;
    margin: 2rem auto;
    display: flex;
    width: 90%;
}

#projects h1 {
    position: absolute;
    font-weight: lighter;
    color: var(--text-color);
}

.projectList {
    box-shadow: inset 0 0 15px var(--text-color);
    background: url("../images/SoftwareEngineer-bro.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 90%;
}

@media screen and (min-width: 1440px) {
    #projects {
        width: 100%;
        height: 53rem;
    }

    #projects h1 {
        top: 98%;
        font-size: 5rem;
        margin: 1rem;
    }

    .projectList {
        margin: 5em auto;
        border-radius: 25px;
    }
}

/* Laptop / desktop (1024px – 1439px) */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
    #projects {
        height: 40rem;
    }

    #projects h1 {
        top: 98%;
        font-size: 5rem;
        margin: 1rem;
    }

    .projectList {
        margin: 5em auto;
        border-radius: 25px;
    }
}

/* Tablette paysage (900px – 1023px) */
@media screen and (min-width: 900px) and (max-width: 1023px) {
    #projects {
        height: 40rem;
    }

    #projects h1 {
        top: 98%;
        font-size: 5rem;
        margin: 1rem;
    }

    .projectList {
        margin: 5em auto;
        border-radius: 25px;
    }
}

/* Tablette portrait (768px – 899px) */
@media screen and (min-width: 768px) and (max-width: 899px) {
    #projects {
        height: 40rem;
    }

    #projects h1 {
        top: 98%;
        font-size: 5rem;
        margin: 1rem;
    }

    .projectList {
        margin: 5em auto;
        border-radius: 25px;
    }
}

/* Mobile standard (480px – 767px) */
@media screen and (min-width: 480px) and (max-width: 767px) {
    #projects {
        height: 40rem;
    }

    #projects h1 {
        top: 98%;
        font-size: 5rem;
        margin: 1rem;
    }

    .projectList {
        margin: 5em auto;
        border-radius: 25px;
    }
}

/* Mobile petit (≤ 479px) */
@media screen and (max-width: 479px) {
    #projects {
        margin: 0 auto;
        flex-direction: column;
    }

    #projects h1 {
        top: 98%;
        font-size: 5rem;
        margin: 1rem;
    }

    .projectList {
        border-radius: 25px;
        width: 100%;
        height: 20vh;
    }
}